<style>
    body {
        background-image: url('/Bilder/bla.webp');
        background-size: cover;
        background-position: center;
    }

    .text-center {
        text-align: center;
        color: white; /* Om texten ska vara vit */
    }

    .explore-button {
        display: inline-block;
        margin-top: 70px;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: royalblue;
        color: white;
        border-radius: 40px;
        transition: background-color 0.3s;
        
    }

        .explore-button:hover {
            background-color: #0056b3; 
        }
</style>

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <a href="/Hemnet/BostadControll" class="explore-button">Utforska marknaden</a>
</div>
